{% extends 'base.html.twig' %}



{#{% block nav %}{% endblock %}#}

{% block content %}

    <ol class="breadcrumb">
    <li><strong>You are here :</strong></li>
    <li><a href="{{ path('home') }}">Home</a></li>
    <li class="active"><a href="{{ path('department',{'id': department.id}) }}"><strong>{{ department.name }}</strong></a></li>
    </ol>

<div class="row">
    <div class="col-md-2">
        <ul class="parent">
            <h2>{{ department.name |capitalize }}</h2>
            <h4>Shop by Category </h4>
            {% for category in department.category %}
               <li> <a href="{{ path('category',{'categoryId': category.id}) }}"> {{ category.name |title }} </a>
                    <ul class="child">
                       {% for group in category.group %}
                        <li>  <a href="{{ path('group',{'groupId': group.id }) }}">   {{ group.name |title }}</a><br /></li>
                       {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-10">
        <div class="row product-filter">
            <img  src = '{{ vich_uploader_asset(department, 'imageFile') }}' style="height: 80%;width: 100%"/>
        </div>

        <div class="row product-filter">
            <div class="header"><strong>Featured Brands</strong></div>
            <div id="brands" class="owl-carousel">
                {% for category in department.category %}
                    {% for group in category.group %}
                        {% for brand in group.brand %}
                            <div style="width:auto;  height:55px" class="thumbnail carouselProducts">
                                <a href="">
                                    <img src="{{ vich_uploader_asset(brand, 'imageFile') }}" alt="{{ brand
                                    .name |title }}" style="width:auto;  height:50px">
                                </a>
                            </div>
                        {%  endfor %}
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="row">
                <div style="padding-right: 4em" class="pull-right">
                    <p>Total items in {{ department.name |title }} {{ pagination.getTotalItemCount }}</p>
                </div>
            </div>

                <div class="link">
                    <ul>
                            {% for product in pagination %}
                                <li>
                                      <a href="{{ path('brows product',{'id': product.id}) }}">
                                           <span>  <img src="{{ vich_uploader_asset(product, 'frontImageFile') }}"
                                                        alt="{{ product.name|title }}" ></span>
                                           <h2 class="title">
                                               <span class="brand">{{ product.brand.name |title}}</span>
                                               <span class="name">{{ product.name|title }}</span>
                                           </h2>
                                            <span class="price-box">
                                                <span>
                                                    <span data-currency-iso="NGN">NGN</span>
                                                    <span data-price="{{ product.price }}">{{ product.price }}</span>
                                                </span>
                                            </span>
                                      </a>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
        </div>
        {# display navigation #}
        <div style="" class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="row">
            <div class="col-sm-12" >
                {% if customersChoiceProducts is defined %}
                    <div class="row">
                        <div class="col-sm-12" >
                            <h3>Most Popular Products</h3>
                            <div id="customersChoiceProducts" class="owl-carousel">

                                {% for product in customersChoiceProducts %}
                                    <div class="thumbnail carouselProducts">
                                        <a href="{{ path('brows product',{'id': product.id}) }}">
                                            <img src="{{ vich_uploader_asset(product, 'frontImageFile') }}" alt="" style="width:auto;  height:200px">
                                            <div class="carouselProductsCaption">
                                                <div class="prodPrice">{{ product.price }}</div>
                                                <div class="prodTitle">{{ product.name }}</div>
                                            </div>
                                        </a>
                                    </div>
                                {%  endfor %}

                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
